<div class="data-container">
  <button class="back-button" (click)="goBack()">Back</button>
  <h1>Journal Entries</h1>
  <div class="sort-controls">
    <label for="sortMetric">Sort by:</label>
    <select id="sortMetric" (change)="sortBy($event)">
      <option value="Event">Event</option>
      <option value="To-do list completion rate">Completion Rate</option>
      <option value="Sleep time">Sleep Time</option>
      <option value="Wake time">Wake Time</option>
      <option value="Score">Score</option>
    </select>
    <button (click)="sortBy(currentMetric)">
      <span [ngClass]="{'arrow-up': sortOrder, 'arrow-down': !sortOrder}"></span>
    </button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Event</th>
        <th>To-do list</th>
        <th>To-do list completion rate</th>
        <th>Sleep time</th>
        <th>Wake time</th>
        <th>Score</th>
        <th>What was good today</th>
        <th>What could we have done better or Strategic changes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of journalEntries">
        <td [ngClass]="{'blank': !entry.Event}">{{ entry.Event || '' }}</td>
        <td [ngClass]="{'blank': !entry['To-do list']}">{{ entry['To-do list'] || '' }}</td>
        <td [ngClass]="{'blank': !entry['To-do list completion rate']}">{{ entry['To-do list completion rate'] || '' }}</td>
        <td [ngClass]="{'blank': !entry['Sleep time']}">{{ entry['Sleep time'] || '' }}</td>
        <td [ngClass]="{'blank': !entry['Wake time']}">{{ entry['Wake time'] || '' }}</td>
        <td [ngClass]="{'blank': !entry.Score}">{{ entry.Score || '' }}</td>
        <td [ngClass]="{'blank': !entry['What was good today']}">{{ entry['What was good today'] || '' }}</td>
        <td [ngClass]="{'blank': !entry['What could we have done better or Strategic changes']}">{{ entry['What could we have done better or Strategic changes'] || '' }}</td>
      </tr>
    </tbody>
  </table>
</div>