<div class="main-container">
  <div class="header">
    <div class="header-content">
      <div class="title-container">
        <h1 class="title">PERSONAS</h1>
        <p class="description">journaling done easy.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="button-column">
      <div class="box button-box" (click)="navigateTo('journal')">
        <i class="fas fa-book fa-3x"></i>
        <h2>Journal Today</h2>
      </div>
      <div class="box button-box" (click)="navigateTo('data')">
        <i class="fas fa-chart-bar fa-3x"></i>
        <h2>Check Stats</h2>
      </div>
    </div>
    <div class="box display-box">
      <h2>Persona of the Day</h2>
      <img src="graphic_isagi_yoichi.webp" alt="Persona Photo" class="persona-photo">
      <p>{{ personaName }}</p>
      <p>{{ personaDescription }}</p>
    </div>
  </div>
  <div class="carousel-container">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let persona of personas">
        <ng-template carouselSlide>
          <div class="carousel-item">
            <img [src]="persona.image" alt="{{ persona.name }}">
            <h3>{{ persona.name }}</h3>
            <p>{{ persona.description }}</p>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>